<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="br.com.biglinux.parental-controls.manage-groups">
    <description>Manage supervised account groups</description>
    <message>Authentication is required to manage supervised accounts</message>
    <message xml:lang="pt_BR">Autenticação é necessária para gerenciar contas supervisionadas</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/big-parental-controls/group-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
  <action id="br.com.biglinux.parental-controls.manage-settings">
    <description>Open parental controls settings</description>
    <message>Authentication is required to change parental controls settings</message>
    <message xml:lang="pt_BR">Autenticação é necessária para alterar as configurações de controle parental</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
