[Unit]
Description=BigLinux Parental Controls Daemon
After=dbus.service

[Service]
Type=dbus
BusName=br.com.biglinux.ParentalDaemon
ExecStart=/usr/lib/big-parental-controls/big-parental-daemon
User=root
# Hardening
ProtectHome=read-only
ProtectSystem=strict
ReadWritePaths=/var/lib/big-parental-controls
PrivateTmp=true
NoNewPrivileges=false
CapabilityBoundingSet=CAP_DAC_READ_SEARCH

[Install]
WantedBy=multi-user.target
