Source: parental-controls
Section: admin
Priority: optional
Maintainer: Carlos Eduardo Obristo <carlos.eduardo@policorp.com.br>
Build-Depends: debhelper-compat (= 13), cargo, rustc
Standards-Version: 4.6.0

Package: parental-controls
Architecture: amd64
Depends: 
 python3,
 python3-gi,
 libgtk-4-1,
 libadwaita-1-0,
 libmalcontent-0-0,
 accountsservice,
 polkitd,
 acl
Description: Parental control system (ECA Digital)
 System-level parental control using ACL, PAM and systemd.
 This package, controls-parental, is a fork of the original 
 big-controle-parental project.
